---
layout: basic
class: about
title: "About PatternAgents"
permalink: /about/index.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "About PatternAgents"
  abstract: "About PatternAgents"
  keywords: "PatternAgents"
comments: false
---
{% capture standard_content %}
 

  <h2>About Pattern&#8203;Agents</h2>

 {% include frag/blurb.html %}

   <h1>PatternAgents Explained:</h1>
  <p>
    A tailor or dressmaker is very familiar with the concept of a "pattern"; they select a pattern for the style of garment that they want to make, and then size the pattern for the customers individual measurements. This yields a repeatable garment, and gives the tailor or dressmaker all the instructions they require to fabricate it over and over.
  </p>
  <p>
    PatternAgents applies that same concept to the field(s) of hardware, software and systems design. Take an "electric motor controller" for example; the concepts are the same for a tiny cooling fan motor controller, or a huge electric truck motor controller. Just like garments, electric motors come in a variety of "styles", such as brushed, brushless, permanent magnet, inductive, reluctance, stepper, servo, etc. By combining a "size" and a "style" for electric motor control, a reusable design pattern can be specified to give repeatable results for any electric motor controller application.
  </p>
  <p>
    PatternAgents has developed formal methods for implementing reusable design patterns, sizing and styling them to meet our customers requirements. PatternAgents products are useful and saleable examples of the application of those formal methods, yielding products that are available off-the-shelf (for standard sizes and styles). PatternAgents can also quickly customize those "design patterns" for specific customer requirements.
  </p>


  <h3>Tom Moxon - Founder and Chief Technology Officer</h3>
  <p><img class="illo" src="/img/staff/tom-moxon_founder.jpg">If you have ever...</p>
  <ul>
    <li>
      Listened to Depeche Mode, Yes, Peter Gabriel, Vangelis, Tangerine Dream, Paul McCartney, or Talking Heads, then you've heard music from sampling keyboard equipment he helped to design.
    </li>
    <li>
      Watched cartoons from the animators at Hanna-Barbera Productions (Flintstones, etc.), then you've seen images processed from digital image processing equipment he helped to design.
    </li>
    <li>
      Seen pictures from the Voyager spacecraft, then you've seen images processed from digital image processing equipment he helped to design.
    </li>
  </ul>
  <p>
    Tom has over thirty years of engineering experience, and has designed systems and integrated circuits for client companies including Cray Research, Adobe Systems, Hewlett Packard, Silicon Graphics, Rohm, Hyundai Electronics, Emu Systems, and many others. 
  </p>
  <p>
    Some of his specialties include  EDA tools and web integration, FPGA, ASIC, and embedded firmware design for applications such as Motor and Motion Control, Digital Video, Digital Audio, Digital Signal processing and communications.
  </p>
  <h3>And Now...</h3>
  <p>
    The PatternAgents team are working full time to grow the PatternAgents platform as a center of ideas and connections for electronics designers. 
  </p>
 

{% endcapture %}

{% include layouts/standard.html %}
