{% comment %}
footer section.
{% endcomment %}

<footer>
  <div class="row">
    <div class="col half">
      <div class="row">
        <div class="col quarter">
          <ul class="social-icons">
           <li><a href="https://twitter.com/PatternAgents" title="twitter"><img src="/img/logos/white/twitter.png"></a></li>
            <li><a href="https://github.com/PatternAgents" title="github"><img src="/img/logos/white/github.png"></a></li>
            <li><a href="https://www.linkedin.com/company/3092259" title="linkedin"><img src="/img/logos/white/linkedin.png"></a></li>
            <li><a href="https://www.facebook.com/PatternAgents/" title="facebook"><img src="/img/logos/white/facebook.png"></a></li>
            <li><a href="https://pinterest.com/patternagents" title="pinterest"><img src="/img/logos/white/pinterest.png"></a></li>
          </ul>
        </div>
        <div class="col quarter">
            <h2><a href="/contact">Contact</a></h2>
            <ul>
              <li><a href="/contact/press.html">Press</a></li>
              <li><a href="/contact/investors.html">Investors</a></li>
              <li><a href="/licensing">Licensing</a></li>
              <li><a href="/contact/credits.html">Credits</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col half">
      <div class="row">
        <div class="col quarter">
          <h2><a href="/about/index.html">About Us</a></h2>
          <ul>
            <li><a href="/about/manufacturers.html">For Manufacturers</a></li>
            <li><a href="/about/distributors.html">For Distributors</a></li>
            <li><a href="/about/representatives.html">For Representatives</a></li>
          </ul>
        </div>
        <div class="col quarter">
          <h2><a href="/policies/index.html">Policies</a></h2>
          <ul>
            <li><a href="/policies/legal/privacy.html">We Use Cookies</a></li>
            <li><a href="/policies/legal/privacy.html">Privacy</a></li> 
            <li><a href="/policies/shipping.html">Shipping</a></li>
            <li><a href="/policies/returns.html">Returns</a></li>
            <li><a href="/policies/legal/index.html">Legal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row unimportant">
    <div class="col quarter"><p>Copyright &copy; 2010-2021 PatternAgents</p></div>
  </div>
</footer>
