{% comment %}
header section (different on home page) (index doesn't link back to self). See also frag/header_no_link.html
{% endcomment %}

<header>
<!-- Cookie Consent Form -->
<script type="text/javascript" src="https://www.FreePrivacyPolicy.com/cookie-consent/releases/3.0.0/cookie-consent.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"headline","consent_type":"express","palette":"dark","change_preferences_selector":"#changePreferences","language":"en","website_name":"patternagents.com","cookies_policy_url":"https://patternagents.com/policies/index.html"});
});
</script>
<noscript><a href="https://www.freeprivacypolicy.com/cookie-consent/">Cookie Consent Necessary for GDPR/EU Compliance</a></noscript>
<!-- End Cookie Consent From -->
  <div class="head-container">
	  <div class="col">
	    {% if page.url != '/index.html' %}<a href="{{site.url.home}}">{%endif%}
	      <h1>Pattern&#8203;<b>Agents</b> <span class="tag-line">Connecting the electronics design community</span></h1>
	    {% if page.url != '/index.html' %}</a>{%endif%}
	  </div>
  </div>
</header>
