---
layout: basic
class: home
title: "PatternAgents"
permalink: /index.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "PatternAgents: the Agency of Design Patterns"
  abstract: "PatternAgents: an abstract"
  classification: "open source software, open source hardware, foss, oshw"
  keywords: "patternagents, microprocessor, fpga, asic, arduino, oshw"
comments: false
---

{% capture home_content %}
  <h1>Pattern&#8203;Agents Explained:</h1>
  <p>
    A tailor or dressmaker is very familiar with the concept of a "pattern"; they select a pattern for the style of garment that they want to make, and then size the pattern for the customers individual measurements. This yields a repeatable garment, and gives the tailor or dressmaker all the instructions they require to fabricate it over and over.
  </p>
  <p>
    PatternAgents applies that same concept to the field(s) of hardware, software and systems design. Take an "electric motor controller" for example; the concepts are the same for a tiny cooling fan motor controller, or a huge electric truck motor controller. Just like garments, electric motors come in a variety of "styles", such as brushed, brushless, permanent magnet, inductive, reluctance, stepper, servo, etc. By combining a "size" and a "style" for electric motor control, a reusable design pattern can be specified to give repeatable results for any electric motor controller application.
  </p>
  <p>
    PatternAgents has developed formal methods for implementing reusable design patterns, sizing and styling them to meet our customers requirements. PatternAgents products are useful and saleable examples of the application of those formal methods, yielding products that are available off-the-shelf (for standard sizes and styles). PatternAgents can also quickly customize those "design patterns" for specific customer requirements.
  </p>

  <h1>PatternAgents Touch Widget Library for Eagle</h1>
  <p>
	We just released our <a href="/news/2013/11/24/eagle-touch-widgets-library.html" title="Eagle Touch Widgets Library">Touch Widgets Library for Eagle</a>, and we have been getting good feedback from people starting to make use of it. 
	We just completed a more detailed "how-to" post on the specific "Best Practices" for employing it in a successful capacitive sensing design,
	and that should get you started using it quickly.
  </p>
   <img src="{{site.url.images}}/news/caps/cap_button_bplace.png" alt="Simple Button (bPlace)" title="Simple Button (bPlace)"/>
  <p>

  {% include frag/blurb.html %}
  <a href="https://plus.google.com/117767543775352024433" rel="publisher">Google+</a>  
{% endcapture %}

{% include layouts/home.html %}
