---
layout: basic
class: home
title: "PatternAgents"
permalink: /index.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "PatternAgents: the Agency of Design Patterns"
  abstract: "PatternAgents: an abstract"
  classification: "open source software, open source hardware, foss, oshw"
  keywords: "patternagents, microprocessor, fpga, asic, arduino, oshw"
comments: false
---

{% capture home_content %}
  <h1>PatternAgents Explained:</h1>
  <p>
    A tailor or dressmaker is very familiar with the concept of a "pattern"; they select a pattern for the style of garment that they want to make, and then size the pattern for the customers individual measurements. This yields a repeatable garment, and gives the tailor or dressmaker all the instructions they require to fabricate it over and over.
  </p>
  <p>
    PatternAgents applies that same concept to the field(s) of hardware, software and systems design. Take an "electric motor controller" for example; the concepts are the same for a tiny cooling fan motor controller, or a huge electric truck motor controller. Just like garments, electric motors come in a variety of "styles", such as brushed, brushless, permanent magnet, inductive, reluctance, stepper, servo, etc. By combining a "size" and a "style" for electric motor control, a reusable design pattern can be specified to give repeatable results for any electric motor controller application.
  </p>
  <p>
    PatternAgents has developed formal methods for implementing reusable design patterns, sizing and styling them to meet our customers requirements. PatternAgents products are useful and saleable examples of the application of those formal methods, yielding products that are available off-the-shelf (for standard sizes and styles). PatternAgents can also quickly customize those "design patterns" for specific customer requirements.
  </p>

  <h1>thingSoC Specification Release</h1>
  <p>
	We just released the second draft specification (Version 0.2) for <a href="https://thingsoc.github.io/" title="thingSoC">thingSoC : Open Source Sockets for the Internet of Things</a>, 
	and several new thingSoC reference designs. 
	<p><b>thingSoC</b> is an exciting new development from PatternAgents - 
	an open source socket standard that enables you to quickly and easily build complex new IoT systems by plugging together components that can
	communicate setup and provisioning information with each other. <b>thingSoC</b> components can communicate about what components are plugged in, and how to access them. 
	<b>thingSoC</b> defines a physical, hardware socket system for inter-operable printed circuit boards, with a data centric firmware model for automatic device discovery, 
	and a software API for interacting with the system.
  </p>
   <img src="https://thingsoc.github.io/img/projects/thingSoC/thingSoC_cat.png" alt="thingSoC Embedded Module" title="thingSoC Embedded Module"/>
  <p>
    
  <p>
  {% include frag/blurb.html %}
  <a href="https://plus.google.com/117767543775352024433" rel="publisher">Google+</a>  
{% endcapture %}

{% include layouts/home.html %}
