---
layout: basic
class: home
title: "PatternAgents"
permalink: /index.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "PatternAgents: the Agency of Design Patterns"
  abstract: "PatternAgents: an abstract"
  classification: "open source software, open source hardware, foss, oshw"
  keywords: "patternagents, microprocessor, fpga, asic, arduino, oshw"
comments: false
---

{% capture home_content %}
<p>
<iframe width="640" height="480" src="https://www.youtube.com/embed/fYR4WMXBOnA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
 <iframe width="640" height="480" src="https://www.youtube.com/embed/_f4Dth6xsIQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </p>


<p>
  {% include frag/blurb.html %}
  <a href="https://plus.google.com/117767543775352024433" rel="publisher">Google+</a>  
{% endcapture %}

{% include layouts/home.html %}
